<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Sentiers Province Sud - gpx</title>

  <link rel="shortcut icon" href="static/favicon.ico">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script>


  <style>
    #mapid {
      height: 500px;
    }
  </style>
</head>
<body class="d-flex flex-column h-100">
  <header class="navbar navbar-expand-md navbar-dark bg-dark flex-md-row">
    <a class="navbar-brand" href="#">Sentiers Province Sud - au format GPX</a>
    <span class="navbar-text pb-0 ml-1">
      using <a href="https://data.gouv.nc/" target="_blank" style="color: rgba(255,255,255,.5); text-decoration: underline;">
      data.gouv.nc</a>
    </span>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a class="nav-link p-2" href="https://github.com/BlueNc/sentier-ps-2-gpx" target="_blank" rel="noopener" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" focusable="false" style="height: 2rem;">
            <title>GitHub</title>
            <path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </header>
  <main>
    <div id="app" class="row no-gutters">
      <div class="list-group col-sm-4" >
        <randonnee-item v-for="randonnee in randonnees" v-bind:randonnee="randonnee" v-bind:selected="isSelected(randonnee)" v-on:select="select($event)"></randonnee-item>
      </div>
      <div class="col-sm-8">
        <div id="mapid"></div>
        <div v-if="selected" class="text-center">
          <h5>{{ selected.title }}</h5>
          <p>{{ selected.description }}</p>
          <button class="btn btn-primary" v-on:click="saveFile">Télécharger le ficher GPX</button>
        </div>
      </div>
    </div>
  </main>

  <script src="static/js/main.js"></script>

</body>
</html>
